/* Définition des couleurs */
:root {
  --primary-color: #00a2c7;
  --secondary-color: #def7f9;
  --white-color: #f2fafb;
  --text-color: #0d3c48;
  --font-family-header: "Playfair Display", Arial, Verdana;
  --font-family-content: "Montserrat", Arial, Verdana;

  /* Reset de styles par défaut */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /* Styles de base */
  body {
    font-family: var(--font-family-content);
    font-size: 18px;
    color: var(--white-color);
    line-height: 1.8;
    background-color: var(--white-color);
    margin: 0;
    padding: 0;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-family-header);
    letter-spacing: 2px;
    font-weight: bolder;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.7);
  }

  .box-shadow {
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1), 0 10px 30px rgba(0, 0, 0, 0.1),
      inset 0 2px 4px rgba(255, 255, 255, 0.2),
      0 12px 20px rgba(0, 122, 153, 0.5);
  }

  header {
    font-family: var(--font-family-content);
    padding: 20px 0;
    position: fixed;
    top: 10px;
    left: 0;
    right: 0;
    z-index: 1000;
    transition: top 0.3s ease-in-out;
    border-radius: 50px;
    margin: 10px 20px;
    margin-bottom: 50px;
    border-radius: 50px;
    background: linear-gradient(145deg, #00a2c7, #007a99);
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }

  .navbar .logo {
    font-size: 24px;
    font-family: var(--font-family-header);
    letter-spacing: 2px;
    color: var(--white-color);
    font-weight: bold;
  }

  .navbar .menu {
    display: flex;
    list-style: none;
    font-size: 22px;
    text-transform: uppercase;
  }

  .navbar .menu li {
    position: relative;
    margin: 0 15px;
  }

  .navbar .menu li a {
    color: var(--text-color1);
    text-decoration: none;
    padding-bottom: 5px;
    display: inline-block;
    transition: color 0.3s ease-in-out;
  }

  .navbar .menu li::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 2px;
    background-color: var(--white-color);
    transform: scaleX(0); /* Cache le trait initialement */
    transform-origin: right;
    transition: transform 0.3s ease-in-out;
  }

  .navbar .menu li:hover::after {
    transform: scaleX(1); /* Affiche le trait en l'agrandissant */
    transform-origin: left;
  }

  .navbar .menu li:hover a {
    color: var(--text-color);
    transform: scale(1.1);
  }

  .navbar .cta-button {
    position: relative;
    display: inline-block;
    text-align: center;
    width: 250px;
    height: 55px;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
    font-weight: bold;
    color: var(--primary-color);
    border-radius: 50px;
    background: var(--white-color);
    box-shadow: inset 5px 5px 10px #adc1c2,
      inset -5px -5px 10px var(--white-color);
  }

  .navbar .cta-button span {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar .cta-button img {
    position: relative;
    bottom: 50%;
    left: 20%;
    width: 50%;
    height: auto;
    z-index: 1;
  }

  .navbar .cta-button:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    background: var(--white-color);
    box-shadow: 5px 5px 10px #adc1c2, -5px -5px 10px #ffffff;
    transition: transform 0.4s ease-out;
  }

  .hero {
    position: relative;
    width: 100%;
    height: 50vw;
    overflow: hidden;
    margin-top: 140px;
    margin-left: calc(-50vw + 50%);
  }

  .hero-slideshow {
    position: relative;
    width: 100%;
    height: 100%;
  }

  .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
  }

  .slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .slide.active {
    opacity: 1;
  }

  .hero-titles {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .hero-titles h1,
  .hero-titles h2 {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 2s ease-in-out, transform 2s ease-in-out;
  }

  .hero-titles h1.display,
  .hero-titles h2.display {
    opacity: 1;
    transform: translateY(0);
  }

  .hero-titles h1 {
    font-size: 70px;
    letter-spacing: 5px;
    margin: 0;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  }

  .hero-titles h2 {
    font-size: 50px;
    margin: 10px 0 0;
    color: var(--text-color);
    text-shadow: 3px 2px 2px rgba(224, 225, 230, 0.8);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  /*Fonction Reveal */
  .revealleft,
  .revealbottom,
  .revealright {
    opacity: 0;
    transition: all 0.2s ease-out;
  }

  .revealleft {
    transform: translateX(-100%);
  }

  .revealbottom {
    transform: translateY(100%);
  }

  .revealright {
    transform: translateX(100%);
  }

  .revealleft.visible,
  .revealbottom.visible,
  .revealright.visible {
    opacity: 1;
    transform: translate(0, 0);
  }

  /* Section du portrait */
  .profile-section {
    padding: 100px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
  }

  /* Conteneur principal */
  .profile-container {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 1000px;
    width: 100%;
  }

  .profile-photo {
    position: absolute;
    z-index: 1;
    left: -50px;
    top: 20%;
    transform: translateY(-50%);
    width: 350px;
    height: 350px;
    margin-right: 70px;
    border-radius: 25px;
    overflow: hidden;
  }

  .profile-photo img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top;
  }

  .profile-description {
    background-color: var(--white-color);
    padding: 50px;
    padding-left: 200px;
    margin-left: 150px;
    border-radius: 50px;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
  }

  .profile-description h2 {
    color: var(--primary-color);
    font-size: 30px;
    padding-bottom: 10px;
  }

  .profile-description p {
    color: var(--text-color);
    margin: 5px;
  }

  /*Section Cabinet */
  .cabinet-section {
    padding: 50px 20px;
  }

  .title-section {
    max-width: 600px;
    margin: 50px auto;
    background: linear-gradient(145deg, #00a2c7, #007a99);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 600px;
    border-radius: 50px;
  }

  .title-section h2 {
    padding: 15px 30px;
    text-align: center;
    font-size: 1.7rem;
  }

  .info-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 50px;
    max-width: 1400px;
  }

  .info-box1 {
    width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .info-box2 {
    width: 400px;
    height: 450px;
    padding: 40px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .img-box {
    object-fit: cover;
  }

  .blue-box {
    background-color: var(--primary-color);
    color: var(--white-color);
  }

  .blue-box:hover {
    background-color: var(--secondary-color);
    color: var(--text-color);
    transition: all 0.4s ease-out;
  }

  .blue-box:hover h2 {
    text-shadow: none;
  }

  .white-box {
    background-color: var(--secondary-color);
    color: var(--text-color2);
  }

  .white-box:hover {
    background-color: var(--primary-color);
    color: var(--text-color1);
    transition: all 0.4s ease-out;
    transform: translateY(-10px);
  }

  .info-box1 h3,
  .info-box2 h3 {
    margin-top: 0;
    font-size: 1.5rem;
    margin-bottom: 15px;
  }

  .info-box1 p,
  .info-box2 p {
    font-size: 1.1rem;
    line-height: 1.6;
    margin-bottom: 10px;
  }

  .info-box2 iframe {
    border: 0;
    border-radius: 25px;

    width: 100%;
    height: 100%;
    cursor: pointer;
  }

  /*Section Semelles*/
  .semelles-section {
    display: block;
    justify-content: center;
    align-content: center;
    background-color: var(--secondary-color);
    padding-bottom: 0;
  }

  .semelles-description {
    background-image: url("./images/istockphoto-semelles-1024x1024.jpg");
    background-color: rgba(37, 57, 51, 0.5);
    background-blend-mode: multiply;
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    left: 0;
    width: 100%;
    height: 80vh;
    padding: 0 25%;
    margin: 50px 0;
    transition: background-size 0.2s ease-out;
    display: block;
    justify-content: center;
    align-content: center;
  }

  .semelles-description p {
    position: relative;
    z-index: 2;
    font-size: 20px;
    text-align: center;
    padding: 5px;
  }

  /*Sections Pédicurie */
  .section-cards {
    position: relative;
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding: 50px;
  }

  .card {
    position: relative;
    width: 350px;
    height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 25px;
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.4s ease;
  }

  .card:hover {
    transform: translateY(-10px);
  }

  .card-content {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    color: var(--text-color);
  }

  .card-title {
    position: relative;
    z-index: 2;
    background-color: rgba(242, 250, 251, 0.9);
    padding: 10px;
    margin: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
    text-shadow: none;
  }

  .card-text {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 0;
    background-color: rgba(242, 250, 251, 0.9);
    overflow: hidden;
    padding: 0 15px;
    box-sizing: border-box;
    transition: height 0.5s ease;
  }

  .card:hover .card-text {
    height: 75%;
    padding-top: 20px;
  }

  .card-text p {
    margin: 10px 0;
    opacity: 0;
    transition: opacity 0.5s ease 0.2s;
  }

  .card:hover .card-text p {
    opacity: 1;
  }

  .faq-section {
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px 100px;
    margin: 0;
    width: 100%;
  }

  .faq-item {
    position: relative;
    width: 800px;
    margin-bottom: 50px;
    padding: 15px;
    background-color: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }

  .faq-question {
    font-size: 1.2rem;
    color: var(--text-color);
  }

  .faq-answer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 0 0 10px 10px;
    transform: translateY(100%);
    opacity: 0;
    transition: transform 1s ease, opacity 0.4s ease;
  }

  .faq-item:hover .faq-answer {
    transform: translateY(0);
    opacity: 1;
  }

  footer {
    background-color: var(--text-color);
    padding: 20px 0;
    text-align: center;
    color: var(--white-color);
  }

  footer a {
    text-decoration: none;
    color: var(--white-color);
  }

  footer a:hover {
    color: var(--primary-color);
    transition: transform 0.4s ease-out;
  }
}
